{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":60,"column":0},"end":{"row":60,"column":1},"action":"insert","lines":["#"],"id":1}],[{"start":{"row":60,"column":0},"end":{"row":60,"column":1},"action":"remove","lines":["#"],"id":2}]]},"ace":{"folds":[],"scrolltop":708,"scrollleft":0,"selection":{"start":{"row":60,"column":0},"end":{"row":60,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":5,"state":"start","mode":"ace/mode/text"}},"timestamp":1601620723742,"hash":"8127318b2d4359bed14cc28d93bb5850eae65149"}