{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":60,"column":0},"end":{"row":60,"column":1},"action":"insert","lines":["#"],"id":1}]]},"ace":{"folds":[],"scrolltop":708,"scrollleft":0,"selection":{"start":{"row":60,"column":1},"end":{"row":60,"column":1},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":21,"state":"start","mode":"ace/mode/text"}},"timestamp":1601620388795,"hash":"fac69b4c6f5206690095bc6ae22588e3e6766e0c"}