{"filter":false,"title":"requirements.txt","tooltip":"/src/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":650.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":39,"state":"start","mode":"ace/mode/text"}},"timestamp":1601615167847,"hash":"8127318b2d4359bed14cc28d93bb5850eae65149"}